.innerHtml {
    display: flex;
    justify-content: center;
    width: 80%;
}


#footer span {
    padding-top: 15px;
}

#footer {
    background-color: #ff4081;
    height: 60px;
    bottom: 0;
    position: fixed;
    width: 100vw;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: center;
}